body {
    background-color: grey;
}

.background {
  fill: none;
  pointer-events: all;
}

#regionSelector{
    color: blue;
    font-size:200%;
    font-family:Georgia;
}
#r2map .active {
  fill: orange;
}
.st0{fill:none;stroke:#A9A9A9;stroke-width:2;}
.st1{fill:#D3D3D3;stroke:#FFFFFF;stroke-width:0.75;}
.svg { height: 50vw; }
.region .regiontext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

}
.region { fill: #d3d3d3; transition: .6s fill; stroke:white; }
.region:hover {
  fill: blue;

}

div.mapInfo {
    border: 3px solid blue;
}
